.wordle-wrapper {
    display: grid;
    margin: 2.5rem auto;
    width: fit-content;
    grid-template-columns: repeat(5, 1fr);
    gap: .75rem .75rem;

}


.cell.current {
    transform: translateY(-.25rem);
    box-shadow: -.375rem .375rem  #8f8fff,
                -.375rem .5rem #333,
                -.5rem .375rem #333;
}

@media screen and (max-width: 500px) {
    .cell {
        font-size: 1.5rem;

        width: 3rem;
        height: 3rem;
    }
}