.dark-mode {
    color: #ebebeb;
    background-color: #303030;
}

.dark-mode .--btn, .dark-mode .cell {
    color: #ebebeb;
    background-color: #3f3f3f;

    border: 2px solid #222;
    box-shadow: -.25rem .25rem  #5858a0, 
                -.25rem .375rem #222,
                -.375rem .25rem #222;

    
}

.dark-mode svg {
    color: #ebebeb;
    stroke: #ebebeb;

    & path {
        fill: #ebebeb;
    }
}


.dark-mode .--btn.grey, .dark-mode .cell.grey {
    background: #3c3d3f;
    color: #5b5b5b;
    box-shadow: -.25rem .25rem  #3c3d3f, 
                -.25rem .375rem #222,
                -.375rem .25rem #222;

}

.dark-mode .--btn.yellow, .dark-mode .cell.yellow {
    background: #b99d1f;
    color: #ebebeb;
    box-shadow: -.25rem .25rem  #826d06, 
                -.25rem .375rem #222,
                -.375rem .25rem #222;
}

.dark-mode .--btn.green, .dark-mode .cell.green {
    background: #2f8607;
    color: #ebebeb;
    box-shadow: -.25rem .25rem  #1e5c03, 
                -.25rem .375rem #222,
                -.375rem .25rem #222;
}