.keyboard-wrapper > div {
    display: flex;
    gap: .75rem;
    justify-content: center;

    margin-block: .75rem ;
}

.--btn > img {
    pointer-events: none;
}

.--delete, .--enter {
    width: 6rem;
}

@media screen and (max-width: 500px) {
    .keyboard.--btn {
        font-size: 1rem;

        width: 1.5rem;
        height: 3rem;

        box-shadow: -.125rem .125rem  #8f8fff, 
                    -.125rem .25rem #333,
                    -.25rem .125rem #333;
    }

    .--btn > img {
        transform: scale(.5);
    }

    .--delete, .--enter {
        width: 3rem;
    }
}