@import url(./board.css);
@import url(./keyboard.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifs;
}

body {
    background-color: #ebebeb;
    color: #1f1f1f;
    margin: 1rem;

    touch-action: manipulation;
}

.grey {
    background: #d7d7de;
    color: #757578;
    box-shadow: -.25rem .25rem  #a8a8b2, 
                -.25rem .375rem #333,
                -.375rem .25rem #333;

}

.yellow {
    background: #f4ebc1;
    color: #1f1f1f;
    box-shadow: -.25rem .25rem  #e2c236, 
                -.25rem .375rem #333,
                -.375rem .25rem #333;
}

.green {
    background: #b9f4a0;
    color: #1f1f1f;
    box-shadow: -.25rem .25rem  #36b300, 
                -.25rem .375rem #333,
                -.375rem .25rem #333;
}

.check {
    animation: .4s ease-in check
}

@keyframes check {
    50% {
        transform: translate(-.5rem, .5rem);
        box-shadow: none;
    }
}

@media screen and (max-width: 500px) {
    .grey {
        background: #d7d7de;
        color: #757578;
        box-shadow: -.125rem .125rem  #a8a8b2, 
                    -.125rem .25rem #333,
                    -.25rem .125rem #333;
    
    }
    
    .yellow {
        background: #f4ebc1;
        color: #1f1f1f;
        box-shadow: -.125rem .125rem  #e2c236, 
                    -.125rem .25rem #333,
                    -.25rem .125rem #333;
    }
    
    .green {
        background: #b9f4a0;
        color: #1f1f1f;
        box-shadow: -.125rem .125rem  #36b300, 
                    -.125rem .25rem #333,
                    -.25rem .125rem #333;
    }
}


